/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Oswald&family=Bai+Jamjuree:ital@1&family=Caveat:wght@700&family=Tangerine&display=swap');

/* Removes basic CSS to avoid further issues. */
* {
  top: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Adds Shaddow and Border Radius */
img {
  box-shadow: 0px 10px 10px black;
  border-radius: 10px;
}

body {
  background-color: #004643;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}


a:link {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

nav img {
  box-shadow: none;
}

nav {
  background-color: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .name {
  display: flex;
}

nav p {
  margin-left: 20px;
  color: #e8e4e6;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 175%;
}

nav .navigations {
  margin-right: 10px;
  display: flex;
}

nav .navigations a {
  margin-right: 20px;
  padding: 10px;
  transition: background-color 0.3s;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 150%;
}

nav .navigations a:hover {
  background-color: #016c66;
  border-radius: 10px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

#home {
  border-bottom: 2px solid #abd1c6;
}

.main_page {
  background-color: #004643;
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.main_page .information {
  padding-bottom: 8%;
}

.main_page img {
  border-radius: 20px;
  margin-left: 4%;
  margin-bottom: 3%;
  border: 3px solid black;
}

.main_page h1 {
  margin-bottom: 2%;
  font-size: 20vh;
  font-family: 'Tangerine', cursive;
  font-weight: 300;
  text-shadow: 2px 2px 0 rgba(0, 30, 28, 0.7);
  color: #fffffe;
}

.main_page p {
  font-size: 3vh;
  margin-right: 4%;
  margin-left: 4%;
  color: #abd1c6;
  text-align: left;
  font-family: 'Bai Jamjuree', sans-serif;
}

.main_page a {
  padding: 3% 10%;
  background-color: #f9bc60;
  border-radius: 5px;
  color: #001e1d;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
}

.wrapper {
  padding-top: 8%;
  padding-left: 5%;
  display: flex;
  justify-content: left;
}

.sections {
  background-color: #abd1c6;
}

.sections h2 {
  color: #001e1d;
}

.sections p {
  color: #0f3433;
}

#aboutme img {
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 3px solid black;
}

#aboutme {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.image-wrapper {
  height: 500px;
  width: 40%;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#aboutme .information {
  padding: 1px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  background-color: #004643;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0px 10px 10px gray;
}

#aboutme h2 {
  font-size: 300%;
  color: #fffffe;
  margin-top: 5%;
  margin-left: 5%;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  font-size: 250%;
}

#aboutme p {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: #abd1c6;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 150%
}

#achievements {
  background-color: #004643;
  height: 100vh;
  text-align: center;
}

#achievements p {
  color: #abd1c6;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 125%;
}

#achievements img {
  margin-bottom: 4%;
  width: 30vh;
  height: 30vh;
  border: 3px solid black;
}

#achievements h2 {
  padding-top: 2%;
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 10vh;
  color: #fffffe;
  text-shadow: 1px 1px 0 #5e5e5e;
}

#achievements h3 {
  color: #001e1d;
  font-size: 175%;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.achievement {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.achievement p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 125%;
  color: #0f3433;
  margin-left: 4%;
  margin-right: 4%;

}

#achievements .information {
  width: 100%;
  margin-bottom: 5%;
} 

#achieved {
  border-radius: 20px;
  padding: 2% 0.5%;
  background-color: #abd1c6;
  box-shadow: 0px 10px 10px rgb(51, 50, 50);
  border: 3px solid black;
  min-width: 80%;
  max-width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

#achieved:hover {
  transform: scale(1.2);
}

#achieved p {
  color: #0f3433;
}

#family {
  background-color: #abd1c6;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#family .information{
  margin-top: 7%;
  align-self: flex-start;
  width: 40%;
}

#family h2 {
  font-family: 'Caveat', cursive;
  font-size: 500%;
  margin-bottom: 10%;
}

#family p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 150%;
  color: #0f3433;
  text-align: left;
}

#family img {
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 3px solid black;
}

#family .img-wrapper {
  height: 500px;
  width: 40%;
}

#socials {
  background-color: #004643;
  height: 50vh;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#socials h2 {
  padding-top: 2%;
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 10vh;
  color: #fffffe;
  text-shadow: 1px 1px 0 #5e5e5e;
}

#socials p {
  color: #abd1c6;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 125%;
}

#socials .social {
  display: flex;
  flex-direction: column;
}

#socials .social a {
  font-size: 125%;
  color: #abd1c6;
  margin-bottom: 1%;
  transition: color 0.5;
}

#socials .social a:hover {
  color: #f9bc60;
}

.top-button {
  width: 100%;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
}

#top-button {
  display: none; 
  position: fixed; 
  z-index: 99;
  border: 1px solid black; 
  cursor: pointer; 
  font-size: 18px; 
  margin-top: 85vh;
  margin-right: 3%;
  border-radius: 20px;
  text-align: center;
  width: 7%;
  height: 6%;
  font-family: 'Barlow Condensed', sans-serif;
  color: #abd1c6;
  background-color: rgb(0, 70, 67);
  opacity: 0.5;
  transition: opacity 0.5s;
}

#top-button:hover {
  opacity: 1;
}

/* Respomsiveness */
@media (max-width: 1000px) {

  #top-button {
    width: 15%;
    height: 5%;
    opacity: 0.9;
    margin-left: 65%;
  }

  img {
    box-shadow: 0px 10px 10px rgba(0, 30, 28, 0.7);
    border-radius: 10px;
  }

  .main_page {
    display: block;
    justify-content: center;
  }

  .main_page img {
    width: 300px;
    height: auto;
    margin: 0px;
    margin-top: 20px;

  }

  .main_page .information h1{
    font-size: 75px;
    margin: 0px;
    margin-top: 20px;
    width: 100%;
  }

  .main_page .information p {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: 0px;
  }

  .wrapper {
    justify-content: center;
  }

  nav .navigations {
    display: none;  
    flex-direction: column;
    background-color: rgba(0, 30, 28, 0.9);
    border-radius: 10px;
    position: absolute;
    margin-left: 50%;
    margin-top: 10vh;
    width: 50%;
    z-index: 99;
    text-align: center; 
    animation-duration: 0.5s;
  } 

  nav .navigations a {
    padding: 2% 0%;
    margin: 0;
  }

  .menu-icon {
    display: block;
  }

  #aboutme {
    display: flex;
    height: 75vh;
  }

  #aboutme img {
    width: auto;
    height: 250px;
  }

  #aboutme .information {
    width: 50%;
    margin: 0;
  }

  #aboutme .image-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #aboutme .information h2 {
    font-size: 18px;
    
  }

  #aboutme .information p {
    font-size: 15px;
  }

  #achievements {
    height: auto;
  }

  .achievement {
    display: grid;
    grid-template-columns: 1fr; 
    padding-bottom: 10%;
  }

  #achievements p {
    font-size: 90%;
  }
  
  #achievements img {
    margin-bottom: 4%;
    width: 15vh;
    height: 15vh;
    border: 3px solid black;
    box-shadow: none;
  }
  
  #achievements h2 {
    font-size: 5vh;
  }
  
  #achievements h3 {
    font-size: 120%;
  }

  #achieved {
    padding: 2% 0%;
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 30px;
  }

  #family {
    display: block;
    height: auto;
  }
  
  #family h2 {
    font-family: 'Caveat', cursive;
    font-size: 300%;
    margin-bottom: 30px;
  }
  
  #family p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 150%;
    color: #0f3433;
    text-align: left;
  }
  
  #family img {
    height: auto;
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid black;
  }
  
  #family .img-wrapper {
    width: 100%;
    height: auto;
  }

  #family .information {
    width: 90%;
    margin: 0% 5%;
    padding-bottom: 100px;
  }

  #socials {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #socials h2 {
    font-size: 4vh;
    color: #fffffe;
    margin-left: 3%;
  }

  #socials p {
    font-size: 90%;
    margin-left: 3%;
  }

  #socials .social {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #socials .social a {
    font-size: 90%;
    color: #abd1c6;
    margin-bottom: 1%;
    transition: color 0.5;
  }

  #socials .social a:hover {
    color: #f9bc60;
  }

}

/* Navigations Animation */
@keyframes nav-bar-open {
  0% {
    margin-left: 75%;
    width: 75px;
    height: auto;
    font-size: 0%;
  }

  100% {
    margin-left: 50%;
    width: 50%;
    height: auto;
  }
}

@keyframes nav-bar-close {
  100% {
    margin-left: 75%;
    width: 90px;
    font-size: 0px;
    
  }

  0% {
    margin-left: 50%;
    width: 50%;
  }
}

@media (min-width: 1001px) {
  .navigations {
    display: flex;
  }
}
